<footer>
  <div>
    <h4>NoCSS</h4>
    <p>Style without classes. Build with semantic HTML.</p>
  </div>

  <div>
    <h5>Product</h5>
    <ul>
      <li><a href="/#philosophy">Philosophy</a></li>
      <li><a href="/#getting-started">Getting Started</a></li>
      <li><a href="/examples/components.html">Components</a></li>
      <li><a href="/examples/code-examples.html">Documentation</a></li>
    </ul>
  </div>

  <div>
    <h5>Resources</h5>
    <ul>
      <li><a href="https://github.com">GitHub</a></li>
      <li><a href="/examples/components.html">Examples</a></li>
      <li><a href="/#examples">Gallery</a></li>
      <li><a href="#">Community</a></li>
    </ul>
  </div>

  <div>
    <h5>Company</h5>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </div>

  <hr>

  <p>&copy; 2025 NoCSS Framework. MIT License. No classes, no bloat, just semantic HTML.</p>
</footer>
